name: YimMenu Windows Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-windows:
    name: Build YimMenu for Windows
    runs-on: windows-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Clone YimMenuV2
      run: |
        git clone --recursive https://github.com/YimMenu/YimMenuV2.git
        cd YimMenuV2

    - name: Translate YimMenuV2
      run: |
        cd YimMenuV2
        cp ../*.py .
        cp ../*.TTF .
        cp ../*.diff .
        cp ../*.json .
        git apply stage.diff
        python font.py
        mv MainFont.cpp src/game/frontend/fonts -Force
        python translate.py
    
    - name: Setup MSVC environment
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: amd64

    - name: Generate CMake project
      run: |
        cd YimMenuV2
        cmake -D CMAKE_BUILD_TYPE=Release -S. -Bbuild -G Ninja
        
    - name: Build 64bit release DLL
      run: |
        cd YimMenuV2
        cmake --build ./build --config Release --target YimMenuV2 --

    - name: Rename DLL to YimMenuV2-dev-{GITHUB_SHA}.dll
      run: |
        cd YimMenuV2/build
        del YimMenuV2-dev-*.dll
        ren YimMenuV2.dll YimMenuV2-dev-${{github.sha}}.dll

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: binary
        path: YimMenuV2/build/YimMenuV2-dev-*.dll
